[Settings]
gtk-theme-name=Adwaita
gtk-icon-theme-name=Adwaita
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size=24
gtk-font-name=Sans 10
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintslight
gtk-xft-rgba={{ "rgb" if host.data.font_rendering == "rgb" else "none" }}
gtk-application-prefer-dark-theme=false
gtk-enable-animations=false
